streamlit
fastapi
uvicorn[standard]
requests
beautifulsoup4
numpy
pandas
networkx
pyvis
python-dotenv
pymongo
openai
httpx
tenacity
pathlib
typing
unidecode
torch>=2.6.0
torchvision
transformers
tqdm
dataclasses
pydantic
accelerate
langchain_openai
langchain
dspy-ai
textgrad
jsonlines
datasets
